<h1>Welcome to barber shop</h1>
<h2>The best of barbers workt inside!</h2>

<form  action="/" method="post">
  Your name: <br>
  <input type="text" name="name" ><br>
  Your phone number: <br>
  <input type="text" name="phone" ><br>
  Select time and date: <br>
  <input type="text" name="date_time"><br>

  <input type="submit">

</form>
